<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% block head %}
    {% include 'head.jinja2' %}
    {% endblock %}
  </head>
  <body>
    <div id="content">
      {% block header %}
      {% include 'header.jinja2' %}
      {% endblock %}
      <div id="main_block">
        <div id="prose_block">
          {% block content %}
          {% endblock %}
        </div><!-- End Prose Block -->
      </div><!-- End Main Block -->
      <div id="footer">
        {% block footer %}
        <hr/>
        This is a footer that appears on every page.
        {% include 'footer.jinja2' %}
        {% endblock %}
      </div> <!-- End Footer -->
    </div> <!-- End Content -->
  </body>
</html>
