*~
\#*
.#*
*.pyc
*.ropeproject/*
/Blogofile.egg-info/*
/build/*
/dist/*
/blogofile/.ropeproject*
/blogofile/site_init/*.zip
/blogofile/test_py2/*
_site/*
docs/_build
/.tox/*
/MANIFEST
/.coverage
/blogofile/tests/plugin/plugin_test/blogofile_plugin_test.egg-info/*
/blogofile/tests/plugin/plugin_test/build/*
